// Font
$root-font-family: "Red Hat Display", sans-serif;
$root-font-size: 16px;
$root-font-weight: 500;

// Color
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  color: $desaturated-blue;
  font-family: $root-font-family;
  font-size: $root-font-size;
  font-weight: $root-font-weight;
}

@mixin set-size($w, $h) {
  width: $w;
  height: $h;
}

@mixin vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin centered-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin set-bg-image($bg-source) {
  background-image: $bg-source;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin set-font($size: $root-font-size, $fweight: $root-font-weight) {
  font-size: $size;
  font-weight: $fweight;
}

body {
  @include set-size(100vw, 100vh);
  @include set-bg-image(url(./sources/images/pattern-background-mobile.svg));
  background-color: $pale-blue;

  main.card-container {
    @include set-size(327px, 567px);
    @include centered-container();
    @include vertical-align();

    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 20px 20px -1px rgba($color: $bright-blue, $alpha: 0.1);

    img.cover-image {
      @include set-size(100%, 160px);
    }

    section.card-info {
      @include set-size(100%, calc(100% - 160px));
      @include vertical-align();

      padding: 32px 24px;

      h1.card-title {
        @include set-font(1.38rem, 900);

        color: $dark-blue;
        margin-bottom: -9px;
      }

      p.card-detail {
        @include set-font(0.92rem);

        text-align: center;
        line-height: 1.55rem;
        letter-spacing: 0.2px;
        padding: 0 10px;
      }

      div.card-plan {
        @include set-size(100%, 80px);

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px;
        background: $very-pale-blue;
        border-radius: 13px;

        div.plan {
          display: flex;
          align-items: center;

          img.plan-icon {
            @include set-size(48px, auto);

            margin-right: 20px;
          }

          div.plan-detail {
            p.plan-name {
              @include set-font(0.87rem, 900);

              color: $dark-blue;
              margin-bottom: 0.25rem;
            }

            p.plan-price {
              @include set-font(0.89rem);
            }
          }
        }

        button.plan-change {
          @include set-font(0.8rem, 700);

          border: none;
          background: none;
          color: $bright-blue;
          text-decoration: underline;
        }

        button.plan-change:active,
        button.plan-change:hover {
          cursor: pointer;
          text-decoration: none;
          color: rgba($color: $bright-blue, $alpha: 0.8);
        }
      }

      button.card-payment-btn {
        @include set-size(100%, 50px);
        @include set-font(0.95rem, 700);

        background-color: $bright-blue;
        color: $pale-blue;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 15px 20px 0 rgba($color: $bright-blue, $alpha: 0.25);
      }

      button.card-payment-btn:active,
      button.card-payment-btn:hover {
        background-color: rgba($color: $bright-blue, $alpha: 0.75);
        color: white;
        cursor: pointer;
      }

      button.card-cancel-btn {
        @include set-font(0.95rem, 700);

        border: none;
        background: none;
      }

      button.card-cancel-btn:active,
      button.card-cancel-btn:hover {
        color: $dark-blue;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1440px) {
  body {
    @include set-bg-image(url(./sources/images/pattern-background-desktop.svg));

    main.card-container {
      @include set-size(450px, 697px);

      img.cover-image {
        @include set-size(100%, 252px);
      }

      section.card-info {
        padding: 45px 48px 48px 48px;

        h1.card-title {
          @include set-font(1.75rem, 900);

          margin-bottom: -12px;
        }

        p.card-detail {
          @include set-font(1.01rem);

          letter-spacing: 0;
          line-height: 1.6rem;
          margin-bottom: -10px;
        }

        div.card-plan {
          @include set-size(100%, 100px);

          padding: 24px;

          div.plan {
            img.plan-icon {
              margin-right: 20px;
            }

            div.plan-detail {
              p.plan-name {
                @include set-font(1.01rem, 900);

                margin-bottom: 5px;
              }

              p.plan-price {
                @include set-font(1.01rem);
              }
            }
          }

          button.plan-change {
            @include set-font(0.9rem, 700);
          }
        }
      }
    }
  }
}
